#smc{
	display: flex;
}

#dif h5{
	padding-left: 5px;
}
#dif label{
	font-size: 15px;
}
#ret h4{
	color:#1c10d0;
}
#ret table{
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}
#tblheads{
	background-color: #4E73DF;
	color: white;
}
#grandttl{
	background-color: #2b35af;
	color: white;
	text-align: center;
}